[submodule "back-end"]
	path = back-end
	url = https://github.com/Joao-Lucas-de-Oliveira-Lima/lol-chat-backend-spring.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/Joao-Lucas-de-Oliveira-Lima/lol-chat-frontend.git
